/*
 * COM_ICAGENDA
 * iCagenda by JoomliC
 * Theme Pack Official
 * Default Theme - component
 *
 * @name		default
 * @author		Lyr!C (JoomliC)
 * @version 	3.5.10 2015-08-26
 * @since		1.0
 */


/*
 * GENERAL STYLES (list and event details)
 */

/* General */
#icagenda {
	display: block;
	width: auto;
	margin: 0px;
	padding:0px
}

/* Align styles */
.ic-align-left {
	text-align: left;
}
.ic-align-right {
	text-align: right;
}
.ic-align-center {
	text-align: center;
}

/* Float styles */
.ic-float-left {
	float: left;
}
.ic-float-right {
	float: right;
}
.ic-float-none {
	float: none;
}

/* Clear Float div */
.ic-clearfix {
	*zoom: 1;
}
.ic-clearfix:before,
.ic-clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}
.ic-clearfix:after {
	clear: both;
}

/* Style iC Alert */
.ic-alert-info {}
.ic-alert-error {}

/* Feature Icons */
.ic-content > .ic-features-container {
	margin-right: -5px;
	margin-top: 5px;
}
.ic-feature-icon {
	float: right;
}


/*
 * LIST PAGE CSS (CONTENT)
 */

/* Style Background alternative */
.ic-event {
	background: none;
	background: rgba(221,221,221,0.1);
	border-radius: 6px;
	/*
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.025);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.025);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.025);
	*/
	margin: 5px 0;
	padding: 0px;
}
.ic-event:nth-child(2n+1) {
	background: none;
	background: rgba(221,221,221,0.3);
}

/* Style Category */
.ic-cat {
	margin-top: 0px;
	font-weight: bold;
	text-transform: uppercase;
	font-size:11px;
}

/* Style Left (Container Box Date) */
.ic-box {
	display: block;
	min-height: 96px;
	border: 0px;
}

/* Font color if bright background for date box */
#icagenda .fontColor {color: #666 !important;}

/* Style Box Date */
.ic-box-date {
	display: block;
	text-transform: capitalize;
	width: 60px;
	height: 60px;
	padding: 10px;
	color: #fff;
	margin: 8px 28px 2px 8px;
	border-radius: 6px;
	/* css3 box-sizing added to prevent conflict */
	box-sizing: content-box;
}

/* Current period */
.ic-current-period {
	text-decoration: overline;
}

.ic-date {
	line-height: 0px !important;
	font-size: 30px;
}
.ic-day {
	line-height: 30px !important;
	font-size: 30px;
	font-weight: bold;
}
.ic-month {
	line-height: 16px !important;
	font-size: 16px;
	letter-spacing: 0px;
	margin-left: 1px;
	font-weight: normal;
}
.ic-year {
	line-height: 11px !important;
	font-size: 11px;
	letter-spacing: 2px;
	margin-left: 2px;
	font-weight: bold;
}
.ic-time {
	line-height: 10px !important;
	font-size: 10px;
	letter-spacing: 2px;
	margin-left: 2px;
	font-weight: bold;
}

/* Style Right (Container Title, Cat, Desc...) */
.ic-content {
	display: block;
	border: 0px;
	margin: 0px;
	padding: 8px;
	vertical-align: top;
}
.ic-content h2 {
	font-size: 24px;
	line-height: 24px;
	margin: 3px 0px 3px 0px;
	padding: 0;
}
.ic-place {
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
}
.ic-descshort {}




/*
 * EVENT PAGE CSS
 */

/* Style full-width div containing Sharing and Register Button */
.ic-event-buttons {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

/* Style Event General */
.ic-info {
	padding: 1%;
	background: none; /* old versions of IE */
	background: rgba(221,221,221,0.3);
	border: 0px solid #ccc;
	margin-bottom: 10px;
	border-radius: 6px;
}
.ic-info .ic-details {
	padding: 1%;
}

/* Style Image */
.ic-image img {
	max-width: 100%;
	max-height: 400px;
	border: 0px solid #ccc;
	margin-bottom: 10px;
}

/* Style Table-style List */
.ic-divTable {
	display: table;
	width: auto;
	border-spacing: 5px;
	/* border-collapse: separate; */
}
.ic-divRow {
	display: table-row;
}
.ic-divCell {
/*	float: left; */ /* fix for buggy browsers */
	padding: 1px 5px;
}
.ic-label {
	display: table-cell;
	min-width: 110px;
	font-weight: bold;
}
.ic-value {
	display: table-cell;
	width: auto;
}

/* Style Description */
.ic-short-description {
	font-weight: bold;
}
.ic-full-description {
}

/* Style Google Maps */
#ic-detail-map {}
#ic-detail-map .icagenda_map {
	margin: auto;
	border: 0px solid #ccc;
	text-shadow: none;
	border-radius: 0px;
	box-shadow:none;
}

/* Style All Dates */
#ic-list-of-dates {}
.ic-dates-list {}
.ic-all-dates ul {
	padding-left: 1%;
}
.ic-all-dates li {
	background-image: none
}
.ic-all-dates h3 {
	display: block;
	font-size: 18px;
	margin-top: 10px;
	font-weight: bold;
}

/* Style List of Participants */
#ic-list-of-participants {}
.ic-dates-list {}
.ic-participants h3 {
	display: block;
	font-size: 18px;
	margin-top: 10px;
	font-weight: bold;
}

/* Slider */
#icagenda .icpanel {
}
.ic-participants .panel {
	border: none !important;
}
.ic-participants .panel h3 {
	border: none !important;
}

.ic-participants .panel h4 {
	clear: both;
}

.ic-participants {
	padding: 5px;
	background: #f5f5f5;
	background: rgba(221,221,221,0.3);
}
.ic-participants h3 a {
	display: block;
	text-decoration: none;
	padding: 0 1%;
	color: #444;
	width: 98%;
}
.ic-participants .panel h3.pane-toggler a {
	background: url(../images/pluslist.png) 99% 50% no-repeat;
}
.ic-participants .panel h3.pane-toggler-down a {
	background: url(../images/minuslist.png) 99% 50% no-repeat;
}
#icagenda .pane-slider .ic-content {
}
#icagenda .pane-slider {
	overflow: unset;
}

/* Slider Full list of Participants */
#icagenda .list_table {
	background:#cccccc;
	background:rgba(204,204,204,0.5);
	border-radius:3px 3px 3px 3px;
	float:left;
}
#icagenda .imgbox {
	width:40px;
}
#icagenda .imgbox img {
	border-radius:3px 3px 3px 3px;
	margin:2px 0;
}
#icagenda .list_name {
	font-weight:bold;
}
#icagenda .list_places {
	font-size:smaller;
}
#icagenda .list_date {
	font-size:smaller;
}


/*
 * FORMS - COMMON STYLES
 */

/* Style Form (general) */
.icagenda_form {}
.icagenda_form h3 {
	color: #333;
	font-weight: bold;
	font-size: 14px;
	margin: 15px 0 10px 0px;
}
.icagenda_form .fieldset {
	border-radius: 2px;
	margin: 10px 0;
	background: #f3f3f3;
	padding: 10px;
}
.icagenda_form legend {
	font-weight: bold;
}

/* Style Label */
.icagenda_form label {
	color: #333;
	display: block;
	width: 130px;
	float: left;
	margin: 0px 3px;
}

/* Style Input field */
.icagenda_form input {
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	border-radius: 3px;
	padding: 3px;
	width: auto;
}
.icagenda_form input[type="file"] {
	width: 270px;
}
.icagenda_form .input-small {
	width: 90px;
}
.icagenda_form .select-small {
	width: 104px;
}
.icagenda_form .input-large {
	width: 210px;
}
.icagenda_form .select-large {
	width: 224px;
}
.icagenda_form .input-xlarge {
	width: 270px;
}
.icagenda_form .select-xlarge {
	width: 284px;
}
.icagenda_form .input-xxlarge {
	width: 330px;
}
.icagenda_form .select-xxlarge {
	width: 344px;
}
.icagenda_form .ic-date-input {
	width: auto;
}

/* Style Form Invalid */
.icagenda_form label.invalid {
	color: red;
	font-weight: bold;
}
.icagenda_form input.invalid,
.icagenda_form select.invalid {
	border: 2px solid red;
	color: red;
	font-weight: bold;
}

/* Style button left (joomla 2.5) */
.icagenda_form .button2-left {
	margin: 3px 3px 3px 0px;
	float: left;
}

/* Style Terms of Service */
.icagenda_form .ic-tos-content {
	background: #c0c0c0;
	color: #fff;
	margin-top: 25px;
	padding: 5px;
	border: none;
	border-radius: 2px;
	text-align: center;
}
.icagenda_form .ic-tos-text {
	padding: 25px;
	background: #fff;
	color: #333;
	text-align: left
}
.icagenda_form .ic-tos-agree {
	color: #fff;
	font-weight: bold;
}

/* Style Button Submit */
.icagenda_form .button {
	font-family: arial;
	font-size: 12px;
	background: #555;
	color: #fff;
	padding: 5px;
	border: none;
	border-radius: 6px;
	text-align: center;
}
.icagenda_form .button:hover {
	background: #c72031;
	color: #fff;
}
.icagenda_form .ic-loader {
	display: block;
	width: 100%;
	height: 60px;
	background: url(../../../../../../media/com_icagenda/images/loader.gif) 50% 50% no-repeat;
}

/* Style Button Cancel */
.icagenda_form .buttonx a {
	font-family: arial;
	font-size: 12px;
	background: none !important;
	text-decoration: none;
	color: #555;
	padding: 0;
	border: none;
	border-radius: 6px;
	text-align: center;
}
.icagenda_form .buttonx a:hover {
	background: none !important;
	text-decoration: none;
	color: #c72031 !important;
}



/*
 * SUBMIT AN EVENT FORM
 */

/* Short Description textarea */
.ic-submit-shortdesc,
.ic-submit-metadesc {
	width: 100%;
	box-sizing: border-box;
}


/*
 * REGISTRATION
 */

/* Style Title Registration */
.ic-form-title h2 {}

/* Style fields required info */
.ic-required-info {
	font-size: 0.95em;
}

/* Style Header*/
.ic-reg-event {
	background: none;
	background: rgba(221,221,221,0.3);
	border-radius: 2px;
	margin: 5px 0;
	padding: 0px;
}

/* Registration icon */
.ic-reg-icon {
	background: url(../../../../../../media/com_icagenda/images/registration-48.png) 50% 50% no-repeat;
	display: block;
	width: 48px;
	height: 48px;
	padding: 8px;
	margin-right: 8px;
}

/* Style Right (Container Event title, category) */
.ic-reg-content {
	display: block;
	border: 0;
	margin: 0;
	padding: 8px;
	vertical-align: top;
}

/* Category */
.ic-reg-cat {
	color: #555555;
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

/* Event title */
.ic-reg-event-title {
	font-size: 22px;
	line-height: 28px;
	font-weight: bold;
}

/* Style Registration infos */
.ic-reg-info {
	font-size:0.8em;
}

/* Google Maps */
.icmap-label {
	float: left;
	width: 140px;
	padding-top: 5px;
	padding-right: 5px;
	text-align: left;
}
.icmap-field {
	margin: 5px;
}
.form-validate .icmap-field input,
.icagenda_form .icmap-field input {
	background-color: #eee;
/*	width: auto; */
	color: #777;
}


/*
 * STYLES for classes not presents in Theme Pack php files, but in iCagenda core php files
 */

/* Style Navigation (list of events) */
#icagenda .navigator {margin: 7px 0;}
#icagenda .navigator a {text-decoration:none;}
#icagenda .navigator a:link, #icagenda .navigator a:visited {}
#icagenda .navigator a:hover, #icagenda .navigator a:active, #icagenda .navigator a:focus {cursor:pointer;}
#icagenda .icagenda_back {float:left; margin-left:20px;}
#icagenda .icagenda_next {float: right; margin-right:20px;}
#icagenda .navigator button {border:0; padding:5px; color:#fff; background:#f3f3f3; margin-right:5px;}

/* Header - List of Categories */
.ic-header-categories {
	display: block;
	width: 100%;
	margin-bottom: 20px;
}
#icagenda .cat_header_title {
	display: block;
	padding: 1px 7px;
	font-size: 1em;
	text-align: center;
	color: #fff;
	font-weight: normal;
	float: left;
	margin: 3px 10px -2px 0;
	border-radius: 4px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
	background: #dddddd;
	background-size: cover;
}
#icagenda .cat_header_desc {
	display: block;
	padding: 3px 7px;
	margin: 2px 0;
}

/* Share buttons (AddThis) */
.ic-share {
	display: block;
	background: none;
	padding: 5px 10px 5px 0;
	text-shadow: none;
}
.ic-share a:link,
.ic-share a:visited {
/*	background: none; */
	text-decoration: none;
}
.ic-share a:hover,
.ic-share a:active,
.ic-share a:focus {
/*	background: none; */
}

/* Style Registration button */
.ic-registration-box {
	float: none;
	margin: 3px 0;
}
.ic-registration-box a {
	text-decoration: none;
	float: none;
}

/* Text Register Button */
.ic-event-register {
	display: inline-block;
	margin: 2px 3px 0 0;
	line-height: 16px;
}

/* Text Event Full Button */
.ic-event-full {
	display: inline-block;
	margin: 2px 3px 0 0;
	line-height: 16px;
}

/* Text Event Finished Button */
.ic-event-finished {
	display: inline-block;
	margin: 2px 3px 0 0;
	line-height: 16px;
}

/* Image Button (removed in 3.3.7) */
#icagenda .regis_imgbutton {display:inline-block; margin:0 3px; height:16px; line-height:16px; width:16px;  background: url('../../../../../../media/com_icagenda/images/btn-regis.png') no-repeat}
#icagenda .regis_imgbutton:hover {text-decoration:none; color:#111111; cursor: pointer;}

/* icon people (nb of registered users) (added in 3.3.7) */
.ic-people {
	color: #999;
}

/* Nb of registered people (in bubble) */
.ic-registered {
	display: inline-block;
	color: #333333;
	text-align: center;
	background: url('../images/regis-baloon.png');
	height: 16px;
	line-height: 16px;
	width: 36px;
	font-size: 11px;
	font-weight: bold;
}

/* Style Time (in date) */
#icagenda .evttime {
	font-size: 0.8em;
}
.ic-next-today {
	font-weight: bold;
}
.ic-period-starttime,
.ic-period-endtime,
.ic-single-starttime,
.ic-single-endtime,
.ic-datetime-separator {
	font-size: 0.8em;
}

/* Style File Download link */
#icagenda .icDownload {}


/*
 * STYLES for classes not presents in Theme Pack php files, but in iCagenda core php files
 */

/* Style iCagenda Header - List of Events */
.ic-header-container {
}
.ic-header-title {
}
.ic-header-subtitle {
	font-size: 0.85em;
}
.ic-subtitle-string {
}
.ic-subtitle-pages {
}

/* Style Back Button (event details) */
.ic-back {
	display: block;
	width: 100%;
	text-align: left;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	letter-spacing: 1px;
}
.ic-back a:link,
.ic-back a:visited {
	text-decoration:none;
}
.ic-back a:hover,
.ic-back a:active,
.ic-back a:focus {
	text-decoration:none;
}

/* Buttons (print, Add to Cal, ...) */
.ic-buttons {
	display: block;
	float: right;
}
.ic-icon {
	display: inline-block;
	margin-left: 7px;
}
.ic-printpopup-btn {
	display: block;
	text-align: center;
	margin: 15px 0;
}
div.ic-tip-title {
	text-align: center;
	font-weight: bold;
	margin-bottom: 3px;
}
div.ic-tip-link {
	display: block;
	text-align: left;
	margin-bottom: 3px;
}
div.ic-tip-link a {
	color: #D4D4D4;
	text-decoration: none;
}
div.ic-tip-link a:hover {
	color: #FFFFFF;
}
div.ic-tip-link img {
	margin-right: 5px;
}

/* Columns List of Participants (Full) */
#icagenda .total {width:99%; min-width:180px; margin:0.5%;}
#icagenda .demi {width:49%; min-width:180px; margin:0.5%;}
#icagenda .tiers {width:32.3%; min-width:180px; margin:0.5%;}
#icagenda .quart {width:24%; min-width:150px; margin:0.5%;}

.names_noslide {text-align:justify;}
.names_slide {padding:6px !important; text-align:justify;}
